* {
  box-sizing: border-box;
}

/* colors */

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}
